.card{
    min-width:300px;
    min-height:400px;
    height:auto;
    border-radius:5px;
    display: flex;
    flex-direction: column;
}
.image{
    height:200px;
    width:100%;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image img{
    min-height:100%;
    max-width:100%;
}
.detail{
    height:auto;
    flex:1;
    background:var(--secondary);
    padding:15px;
    border-radius:0 0 5px 5px;
    transition:var(--trans);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-weight:bold;
    margin-bottom:10px;
}
.description{
    margin-bottom:30px;
    font-size:0.9em;
}
.links{
    display: flex;
    gap:15px;
    margin-top:20px;
    align-items: center;
}
.links button{
    background:var(--button-background);
    color:var(--button-color);
    border:none;
    padding:7px;
    cursor: pointer;
}
.inactive{
    background:grey !important;
    color:rgb(134, 134, 134);
    cursor: not-allowed !important;
}
.git svg{
    fill:white;
    height:100%;
    width:25px;
    /* width:30px; */
}
.stack{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.tag{
    border:1px solid var(--button-background);
    padding:5px;
    border-radius: 5px;
    font-size:0.8em;
}

@media (max-width:770px){
    .description{
        font-size:0.8em;
    }
    .tag{
        font-size:0.7em;
    }
}