.hero{
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:90vh;
    margin-bottom:50px;
    position:relative;
    padding-bottom:50px;
}
.image{
    width:200px;
}
.heading{
    font-size:4em;
    margin-bottom:30px;
}
.name{
    color:rgb(150, 0, 0);
    text-decoration: underline;
}
.title{
    font-size:2em;
}
.description{
    font-size:1em;
    width:45%;
    margin:30px 0;
    text-align:center;
}
.email{
    border-bottom:2px solid red;
}
.down{
    position:absolute;
    bottom:0px;
    animation:bounce 2s ease-in-out infinite
}
.down svg{
    fill:var(--fill);
    transition:fill 0.5s ease-in-out;
}

@media (max-width:1000px){
    .heading{
        font-size: 3em;
    }
    .title{
        font-size:1.5em
    }
    .description{
        width:80%;
    }
}

@media (max-width:770px){
    .hero{
        padding-top:50px;
        justify-content: unset;
    }
    .heading{
        font-size: 1.4em;
    }
    .title{
        font-size:1em
    }
    .description{
        width:100%;
        font-size:0.8em
    }
    .contact{
        font-size:0.8em;
    }
    .down{
        bottom:35px;
    }
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}