.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:100px;
    padding-top:20px;
}
.showcase{
    margin-top:30px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap:50px;
    /* width:80%; */
}
.logo{
    max-height:100%;
}

@media (max-width:800px){
    .showcase{
        grid-template-columns: 80px 80px 80px;
        gap:30px;
    }
}
