.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:20px;
}
.title{
    font-weight: bold;
    margin-bottom:30px;
}
.content{
    padding: 5% 10%;
    background:var(--secondary);
    display: flex;
    width:60%;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
.avatar{
    width:50%;
}
.form{
    display: flex;
    flex-direction: column;   
    width:50%;
}
.form input{
    width:100%;
    padding:10px;
    margin-bottom:20px;
    border:none;
    font-family: 'Poppins', sans-serif;
    border-radius:5px;
}
.form textarea{
    border:none;
    width:100%;
    height:200px;
    padding:10px;
    font-family: 'Poppins', sans-serif;
    border-radius:5px;
    margin-bottom:20px;
}
.form button{
    height:30px;
    width:90px;
    border:none;
    font-family: 'Poppins', sans-serif;
    background:black;
    color:white;
}
.form button:hover{
    background:white; 
    color:black;
    cursor: pointer;
}

@media (max-width:1000px){
    .content{
        width:100%;
    }
}

@media (max-width:770px){
    .content{
        flex-direction: column;
    }
    .avatar{
        padding-left:10%;
    }
    .form{
        width:100%;
    }
    .form button{
        width:100%;
    }
}