@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  /* colors */
  --background: rgb(20,20,20);
  --text: white;
  --secondary:rgb(43, 43, 43);

  /* card-button */
  --button-background:white;
  --button-color:black;

  /* svg */
  --fill:white;

  /* fonts */

  /* others */
  /* color transition is inherited so no need to include it */
  --trans:background 0.5s ease-in;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding:10vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body{
  background:var(--background);
  color:var(--text);
  transition:var(--trans);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
